
body, p, strong, em, b, i {
  font-family: -apple-system;
  font-weight: 400;
  line-height: 18px;
  font-size: 17px;
  color: #111;
}

pre {
  background-color: #F2F2F7;
}

code {
  font-family: monospace;
  font-size: 16px;
  line-height: 24px;
  background-color: #F2F2F7;
  border-radius: 4px;
  padding: 8px;
}

mark {
  background-color: yellow;
  border-radius: 4px;
  padding: 4px;
}

img {
  width: auto;
  height: 120px;
  border-radius: 8px;
  border: 1px solid black;
}

strong, b {
  font-family: -apple-system;
  font-weight: bold;
  color: black;
}

em, i {
  font-family: -apple-system;
  font-style: italic;
  color: black;
}

pdlt-mention {
  color: powderblue;
  font-weight: bold;
}

p {
  font-family: -apple-system;
  font-weight: normal;
  line-height: 18px;
  font-size: 17px;
  color: #111;
}

del {
  
}

ins { 

}

poem {
  font-family: Chalkduster;
  text-align: center;
}

ul p {
  display: inline;
}